/* CSS Document */

body {
	margin:0;
	padding:20px; 0;
	font-size:18px;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight:300;
}
.header {
	padding:0 10px;
	color: 666;
	background-color:#EEE;
	text-align:center;
	height:48.4px;
	line-height:48.4px;		
}
.footer {
	padding:5px;
	font-style:italic;
	font-size:small;
	text-align:center;
}
#foto {
	border: 1px solid;
	margin: 1px;
	box-sizing:border-box;
	width:98%;
	
}
.button-container {
	margin:1rem;
	text-align:center;
}
.button {
	display:inline;
	border:1px solid;
	color:#FFF;
	padding:10px;

}
.button-filter {
	font-size:medium;
	width:6rem;
	background-color:#7ABAF2;
	border-radius: 25px;
	margin:auto;
}
#button-action{
	font-size: large;
	border-radius:10px;
	background-color:#FD4140;
	display:block;
	margin:auto;
}
#button-gallery {
	font-size:large;
	background-color:#92BA3F;
}